<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Admin Panel{% endblock %}</title>
        <link rel="stylesheet" href="/css/admin.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <script src="js/admin.js"></script>
    </head>
    <body>
        <div class="admin-container">
            <!-- Sidebar -->
            <aside class="admin-sidebar">
                <h2>Admin Panel</h2>
                <ul class="ul-list">
                    <li><a href="{{ path('app_admin') }}">Dashboard</a></li>
                    <li><a href="{{ path('app_user') }}">Utilisateurs</a></li>
                    <li><a href="{{ path('app_forum') }}">Forum</a></li>
                    <li><a href="{{ path('app_cours') }}">Cours</a></li>
                    <li><a href="{{ path('app_projet') }}">Projet</a></li>
                    <li><a href="{{ path('app_competition') }}">Competitions</a></li>
                    <li><a href="{{ path('app_webinair') }}">Webinair</a></li>
                </ul>
            </aside>
            <!-- Main Content -->
            <div class="admin-main">
                <!-- Navbar -->
                <nav class="admin-navbar">
                    <span>Hello, Admin</span>
                    <button id="darkModeToggle">
                        <i id="themeIcon" class="fa-regular fa-moon"></i>
                    </button>

                </nav>
                <!-- Page Content -->
                <div class="admin-content">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>